// Salamander Studio, C.A.
// www.salamanderstudio.com.ve
/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

// VARIABLES
@div_100por100:100%;
@grisclaro:#EDEDED;
@gris: #D6D6D3;
@grisplomo:#515151;
@azulito:#5177B6;

// FIN VARIABLES

// MIXIN

.centrar_div{
	margin: 0 auto;
}

.degradado{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9c9ff+0,546aa7+100 */
background: #a9c9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #a9c9ff 0%, #546aa7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9c9ff), color-stop(100%,#546aa7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9c9ff 0%,#546aa7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9c9ff 0%,#546aa7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9c9ff 0%,#546aa7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a9c9ff 0%,#546aa7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9c9ff', endColorstr='#546aa7',GradientType=0 ); /* IE6-9 */

}

.bg_gral(@url,@repeat){
	background-image: url(@url);
	background-repeat: @repeat;
}

[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
 
[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

.div_para_fondos{
	width: @div_100por100;
}

.paddin_gral{
	padding: 5px;
}

.listas{
	ul{
		padding: 0;
		margin: 0;
	}

	ul li{
		list-style-type: none;
		display: inline;
		padding: 0 10px 0 10px;		
	}
}

.formato_div(@anch,@alt,@pad,@marg){
	width: @anch;
	height: @alt;
	padding: @pad;
	margin: @marg;

}

.reset{
	margin: 0;
	padding: 0;
}

.a_hover_und_line(@color_link,@bg_hover,@color_link_fondo,@font_weight,@text_deco,@padding_link,@font_size) {
	a:hover{
		text-decoration: @text_deco;
		background-color: @color_link_fondo;
		color: @bg_hover;
}

	a{
		text-decoration:none;
		color:@color_link;
		font-weight:@font_weight;
		padding: @padding_link;
		font-size: @font_size;
	}
}

.radios( @r1, @r2, @r3, @r4){
	-moz-border-radius: @r1 @r2 @r3 @r4;
    -webkit-border-radius: @r1 @r2 @r3 @r4;
	border-radius: @r1 @r2 @r3 @r4;
}

.el_radio(@r1: 5px){
	-moz-border-radius: @r1 @r1 @r1 @r1;
    -webkit-border-radius: @r1 @r1 @r1 @r1;
	border-radius: @r1 @r1 @r1 @r1;
}

.tm_icon(@size){
	font-size: @size;
}
// FIN MIXIN



.formato_logo{
	padding: 10px 0 0 30px;
}

.formato_top{
	.degradado;
	color: #FFF;
}

.formato_head{
	.formato_div(100%,188px,"","");
	.bg_gral("../img/fondo_head_02_03.jpg", no-repeat);
	// background-repeat: 
}

.formato_menu_top{
	margin: 20px 0 0 0;

}

.formato_menu_top a{
	.el_radio;
	color: #FFF;
	padding: 5px;
	border-bottom: 4px solid #949394;
	background-color: @azulito;
}

.formato_menu_top a:hover{
	color: #FFF;
	padding: 5px;
	border-bottom: 5px solid #4C4C4C;
}

.formato_cenefa{
	.formato_div(100%,30px,"","");
	background-color: blue;
	.reset
}

.formato_slide{
	.formato_div(100%,300px,"","");
	background-color: @gris;
	.reset
}


// SLIDER
.orbit-caption{
	width: 300px !important;
	margin: 60px 0 30px 60px;
	border-top: 5px solid @azulito;
}

.orbit-bullets .active{
	list-style-type: none;
	width: 15px;
	height:15px;
	background-image: url("../img/bot_nav_activo.png")!important;
	background-size:15px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

// FIN SLIDER


// MEDIO
.formato_medio{
	.formato_div(100%,330px,"","");
	background-color: @grisclaro;
	// .reset
	padding: 40px;
}

.formato_welcome_conte{
	background-color: #FFF;
}

.formato_welcome{
	padding: 20px;
	text-align: justify;
}

.titulos{
	color: @azulito;
	font-weight: bold;
}

.separador_azul{
	.formato_div(100%,66px,"","");
	background-color: @grisclaro;
	.reset;
	.bg_gral("../img/sep_07.png",no-repeat);
}

.formato_enlaces_conte{
	.formato_div(100%,auto,"","");
	background-color: @grisclaro;
	padding: 30px;	
}

// FIN MEDIO

.formato_seccion_titulo{
	background-color: @grisplomo;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	border-bottom: 5px solid @azulito;
}

.formato_seccion_foto{
	background-color: @gris;
	padding: 10px;
	text-align: center;
	
}

.separador_azul2{
	.formato_div(100%,30px,"","");
	.degradado;
	border-top: 3px solid @azulito;
	.reset;	
}

.pre_footer{
	.formato_div(100%,502px,"","");
	.bg_gral("../img/bg_big_20.png",no-repeat);
	.reset
}

.formato_footer{

	.formato_div(100%,380px,"","");
	.bg_gral("../img/bg_footer_02.jpg",no-repeat);
	.reset;
	border-top: 10px solid @grisplomo;
	padding: 25px 10px 10px 10px;

	.formato_div(100%,380px,"","");
	.bg_gral("../img/bg_footer_02.jpg",no-repeat);
	.reset;
	border-top: 10px solid @grisplomo;
	padding: 25px 10px 10px 10px;

	.formato_div(100%,216px,"","");
	.bg_gral("../img/bg_footer_21.jpg",no-repeat);
	.reset;
	border-top: 5px solid @grisplomo;

}

.secciones_footer{
	.formato_div("",210px,"","");
	.reset;
}

.formato_icon{
	.tm_icon(26px);
}

.formato_redes a{
	.radios(90px,90px,90px,90px);
	color:#FFF !important;
	// padding: 5px;

} 

